
.root, .hyperlink {
    -fx-font-family: "Arimo";
    /*-fx-font-family: "Lucida Sans";*/
    -fx-font-smoothing-type: lcd;
}

.root {
    -fx-background-color: f4f4f4;
}

.hyperlink {
    -fx-font-size: 14;
}
