<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
          "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name = "Checker">
    <property name="charset" value="UTF-8"/>
    <property name="fileExtensions" value="java, properties, xml"/>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="NewlineAtEndOfFile"/>

    <module name="RegexpSingleline">
       <!-- no trailing whitespace -->
       <property name="format" value="\s+$"/>
       <property name="message" value="Trailing whitespace."/>
    </module>

    <module name="RegexpMultiline">
        <property name="format" value="\n(\s*\n){2}"/>
        <property name="message" value="Consecutive blank lines."/>
    </module>

    <module name="TreeWalker">
        <!-- blocks -->
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>

        <!-- design -->
        <module name="InnerTypeLast"/>
        <module name="InterfaceIsType"/>

        <!-- imports -->
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- metrics -->
        <module name="BooleanExpressionComplexity"/>
        <module name="CyclomaticComplexity"/>

        <!-- miscellaneous -->
        <module name="Indentation">
            <property name="lineWrappingIndentation" value="8"/>
        </module>

        <!-- modifiers -->
        <module name="ModifierOrder"/>

        <!-- regexp -->
        <module name="RegexpSinglelineJava">
            <property name="format" value="System\.(out|err)\.print(f|ln)?\("/>

            <property name="message"
                value="Printing to standard I/O. Please use Logger instead."/>
        </module>

        <!-- whitespace -->
        <module name="ParenPad"/>
        <module name="WhitespaceAround"/>
    </module>
</module>
