.error-ellipse Path {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
    -fx-fill: transparent;
}
.error-ellipse-fill {
    -fx-stroke: transparent;
    -fx-fill: red;
    -fx-opacity: 0.3;
}
.drag-select {
    -fx-opacity: 0.5;
}
.concordia-line {
    -fx-stroke: blue;
    -fx-stroke-width: 2px;
}

.title-panel {
    -fx-font-size: 135%;
}

.title-subpanel{
    -fx-font-size: 125%;
}

.title-subsubpanel{
    -fx-font-size: 110%;
}