.data-picker-activated {
    -fx-graphic: url("on-picker2.png");
}
.data-picker-deactivated {
    -fx-graphic: url("off-picker2.png");
}

.data-cell {
    -fx-alignment: center-right;
    -fx-font-family: monospace;
}
.data-cell-deactivated {
    -fx-background-color: lightgray;
    -fx-text-fill: darkred;
}

.header-cell {
    -fx-background-color: lightgray;
}

